.menu__list {
    list-style: none;
    width: 80%;
    background-color: #ddd;
    margin: 60px auto 20px auto;
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.menu__item{
    width: 20%;
}
.menu__item a{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: #004466;
    text-align: center;
    font-weight: bold;
}

.menu__item a:hover{
    text-decoration: underline;
}
.menu__drop-item i{
    padding-left: 5px;
}

.dropdown__list .menu__item{
    list-style: none;
    width: 100%;

}


.dropdown__list a{
    display: block;
    line-height: 30px;
    font-weight: normal;
}

@media only screen and (max-width: 900px) {
    .menu__list {
        width: 100%;

    }

    .menu__item a {
        padding: 0;
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px){
    .menu__list{
        flex-direction: column;
        height: auto;
    }
    .menu__item {
        width: 100%;
    }
}